h1 {
    background-color: burlywood;
    color: crimson;
    font-size: 3vw;
}

h2 {
    background-color: burlywood;
}

footer {
    float: right;
}

table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    width: 90%;
}

.picture {
    width: 25%;
    border: 10px solid blanchedalmond;
}

.input-box {
    background-color: blanchedalmond;
}

form {
    margin: 20px;
}

.index-page {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: 150%;
}

body {
    max-width: 100%;
}

.button {
    width: 10%;
}
header .picture {
    border: 5px solid crimson;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left; /*Change to right here if you want it close to the inputs*/
}
input {
  display: inline-block;
  float: left;